@using (Html.BeginForm("uploadImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
@model ProjectArcive_DIU.Models.ImageViewModel

    @{
        Layout = "~/Theme/_Layout.cshtml";
    }

    <div class="">
        <table>
            <tr> </tr>// other details like name, address etc
            <tr>
                <td style="width:80px;height:50px"><label>Binary Image</label><input type="file" id="image" name="image" style="width: 100%;" /> <br /></td>
                
               
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </div> }  